body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url("/static/images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 2em;
    color: #333;
}

form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 1em;
    box-sizing: border-box;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.result h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #444;
}

.review-text {
    font-size: 1.1em;
    color: #007BFF; /* Blue color for review text */
    font-weight: bold;
}

.positive-sentiment {
    font-size: 1.1em;
    color: #28a745; /* Green color for positive sentiment */
    font-weight: bold;
}

.negative-sentiment {
    font-size: 1.1em;
    color: #dc3545; /* Red color for negative sentiment */
    font-weight: bold;
}

@keyframes color-change {
    from {
        color: #e63946;
    }
    to {
        color: #457b9d;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

.slide-in {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
